@using Netflix.WebAdmin.ViewModel
@model MovieEditPageViewModel
@{
    ViewData["Title"] = "Edit";
}  
<h6 style="text-align: center; color: orange">EDIT</h6>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <img  src="~/images/@Model.Movie.Banner" width="370" height="550" />
        </div>
        <div class="col-md-6">
            <form asp-action="Edit" enctype="multipart/form-data">
                @*asp-route-id="@Model.Movie.Id"*@
                @Html.HiddenFor(x => x.Movie.Id)
                <div class="form-group">
                    <label asp-for="Movie.Name" class="control-label"></label>
                    <input asp-for="Movie.Name" class="form-control" />
                    <span asp-validation-for="Movie.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Movie.Summary" class="control-label"></label>
                    <textarea asp-for="Movie.Summary" class="form-control" rows="7"></textarea>
                    <span asp-validation-for="Movie.Summary" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Movie.Director" class="control-label"></label>
                    <input asp-for="Movie.Director" class="form-control" />
                    <span asp-validation-for="Movie.Director" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Banner</label>
                    <input asp-for="FormFile" class="form-control" type="file" />
                    <span asp-validation-for="FormFile" class="text-danger"></span>
                </div>
                @foreach (var item in Model.Categorylist)
                {

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" asp-for="@item.IsCheked" value="@item.Id" name="categoryId" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">@item.CategoryName</label>
                    </div>
                }
                <div class="modal" tabindex="-1" role="dialog" id="modalPopup_@Model.Movie.Id">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">@Model.Movie.Name</h4>
                                <button type="button" class="close" data-dismiss="modal" onclick="confirmDelete('@Model.Movie.Id', false)" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Değişiklikler Kayıt Edilsin mi?</p>
                            </div>
                            <div class="modal-footer">
                                <input href="~/Movie/Edit/@Model.Movie.Id" class="btn btn-success" type="submit" value="Update" />
                                <a href="#" class="btn btn-danger" onclick="confirmDelete('@Model.Movie.Id', false)">Hayır</a>
                            </div>
                        </div>
                    </div>
                </div>
                <span id="deleteSpan_@Model.Movie.Id">
                    <a onclick="confirmDelete('@Model.Movie.Id', true)" class="btn btn-success">Update</a>
                </span>
            </form>
        </div>
    </div>
</div>
@section Scripts {

    <script src="~/js/ConfirmJs.js"></script>
}